:root {
  --grey: #2B2B2B;
  --light-grey: #D9D9D9;
}


@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu-Regular.ttf')
  format('truetype');
}

* {
  font-family: Ubuntu;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: var(--grey)
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.phrase {
  font-size: 4rem;
  color: var(--light-grey)
}

.navigator {
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: var(--light-grey);
  height: 5rem;
}

.header-container {
  background-color: var(--light-grey);
  width: 100vw;
  color: var(--grey)
}

a { 
  color: var(--grey);
  background-color: var(--light-grey);
  text-decoration: none;
}

.footer-container {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
}

.footer-container > p {
  color: var(--light-grey)
}